@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

/* Applique la couleur par défaut sur la landing page */
.landing-page {
  color: #001E13;
}

img,
p,
span,
div {
  -webkit-user-drag: none; /* empêche le drag d'images sur WebKit */
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

  -webkit-user-select: none; /* empêche la sélection de texte */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.gradient-container {
  background: #57CFFF;
  background: linear-gradient(180deg, rgba(87, 207, 255, 1) 0%, rgba(237, 250, 255, 1) 89%, rgba(255, 252, 251, 1) 100%);
}

body {
  background-color: #FFFBF5;
}

strong {
  font-weight: 600;
}


.text-orange {
  color: #f6391a;
}

.text-orange p {
  color: #f6391a;
}

.orangeStrong strong{
  color: #f6391a;
}

.font-unbounded {
  font-family: var(--font-unbounded);
}

.font-londrina-solid {
  font-family: var(--font-londrina-solid);
}

.font-karla {
  font-family: var(--font-karla);
}

.font-nanum-pen {
  font-family: var(--font-nanum-pen);
}

.bg-orange {
  background-color: #f6391a;
}

.bg-light {
  background-color: #feedea;
}

body {
  font-family: var(--font-karla);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-londrina-solid);
}

p, span, a, button, input, textarea, select {
  font-family: var(--font-karla);
}

@media screen and (max-width: 1024px){
  .noBr br{
    display: none;
  }

}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}


